/* PopupComponent.css */

.popup-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(141, 148, 152, 0.7);
    z-index: 1000;
    transition: 0.3s;
}



.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 1rem 2rem;
    min-width: 300px;
}

.popup-content p {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
}

.popup-content .cta-btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.2rem;
}

.popup-content .confirm {
    color: #fff;
    background-color: rgb(23, 162, 184);
    border: none;
    padding: 0.9rem 0px;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
}

.popup-content .can {
    color: red;
    background-color: white;
    border: 1px solid red;
    padding: 0.9rem 120px;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;

}
