/* Component-specific styles */
.task-card {
  margin: 1rem 0;
}

.card-content {
  
  background-color: white;
    padding: 1rem;
    margin: 40px 0px;
    border-radius: 20px;
}


.priority-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priority-label {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgb(133, 133, 133);
}

.priority-label {
  content: "";
    height: 9px;
    border-radius: 50%;
  
}

.high-priority  {
  background-color: #FF2473;
}

.moderate-priority {
  background-color: #18B0FF;
}

.low-priority {
  background-color: #63C05B;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu-btn {
  background: none;
  border: none;
  padding: 0.4rem;
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 1.8rem;
  width: 60%;
}

.checklist-toggle-container {
  align-items: center;
  justify-content: space-between;
}

.checklist-head {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.collapse-expand-btn {
  width: 21px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 236, 236);
  border: none;
}

.expand-icon {
  font-size: 1.125rem;
  color: gray;
}

.expand-icon.collapsed {
  transform: rotate(180deg);
}

.checklist-tasks {
  margin-top: 1rem;
}

.task-item {
  display: flex;
  align-items: center;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 15px;
  margin: 0.5rem 0;
  padding: 0.7rem 0.8rem;
}

.checkbox {
  min-width: 15px;
  min-height: 15px;
  accent-color: var(--primary-500); /* Adjust checkbox color as needed */
}

.task-text {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.mutate-status-container {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: right; /* Adjust as per your layout */
}

.mutate-btns-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status-btn {
  font-size: 0.6rem;
  padding: 0.4rem 0.6rem;
  color: rgb(118, 117, 117);
  background-color: rgb(219, 219, 219);
  font-weight: 600;
  border-radius: 6px;
  border: transparent;
  cursor: pointer;
}

.dropdown-menu {
  display: fixed;
  top: 2rem;
  right: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0.5rem;
  z-index: 10;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown-item.delete {
  color: red; 
}

.duedate {
  color: black;
  padding: 0px 9px;
  background-color: rgb(219, 219, 219);
  border-radius: 16px;
  font-size: small;
  margin-right: auto;
}



::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #9CB7C5; 
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.duedate.done {
  background-color: rgb(99, 192, 91); /* Green background for tasks marked as DONE */
  color: white;
}

.duedate.past-due {
  background-color: rgb(207, 54, 54); /* Red background for tasks past their due date */
  color: white;
}

